@model HeaderLinksModel
@using Tmc.Web.Models.Common;

@if(Model.IsAuthenticated)
{
    <div class="top-nav">
        <span>Hello, @Model.CustomerName</span>
        <a href="@Url.RouteUrl("CustomerDashboard")">Dashboard</a>
        @if(Model.IsAdmin)
        {
            <a href="@Url.RouteUrl("AdminHomePage")">Go to Admin Panel</a>
        }
        else
        {
            <a href="@Url.RouteUrl("DepositTransactions")">Deposit</a>
            <a href="@Url.RouteUrl("WithdrawalTransactions")">Withdrawals</a>
        }
        <a href="@Url.Action("ChangePassword","Customer")">Change Password</a>
        <a href="@Url.Action("Logout","Customer")">Logout</a>
    </div>
}