@model ApplyCustomerRoleModel
@using Tmc.Admin.Models.Customers;

@if(Model != null && Model.AllRoles.Count > 0)
{
    using (Html.BeginForm(null, null, FormMethod.Post, new {id = "form-apply-customer-role" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CustomerId)
        <ul>
            @for (int i = 0; i < Model.AllRoles.Count; i++)
            {
                 @Html.HiddenFor(model => model.AllRoles[i].Id)
                <li>
                    @Html.CheckBoxFor(m => m.AllRoles[i].Selected)
                    <span>@Model.AllRoles[i].Name</span>
                </li>
            }
        </ul>
    }
}