@model CustomerDashboardModel
@using Tmc.Web.Models.Customers;
@using System.Web.Mvc.Html;
@{
    ViewBag.Title = "Dashboard";
}

<div class="main-content">
    <h2>Customer info</h2>
    @Html.Partial("_CustomerInfo", @Model.CustomerInfo)
    
    <h2>Deposit</h2>
    @Html.Partial("~/Views/Transaction/_TransactionListing.cshtml", @Model.DepositTransactionListModel)
    <h2>Withdrawals</h2>
    @Html.Partial("~/Views/Transaction/_WithdrawTransactionListing.cshtml", @Model.WithdrawTransactionListModel)
</div>