@model LoginModel
@using Tmc.Web.Models.Customers;
@using System.Web.Mvc.Html;
@{
    ViewBag.Title = "Login";
}

<div class="main-content">

    @using (Html.BeginForm())
    {

        <div class="login-block">
            <div class="inputs">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "username", autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="inputs">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <label class="col1">&nbsp;</label>
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
            <div class="buttons">
                <input class="login-button" type="submit" value="Login" />
            </div>

            <div class="message-error">
                @Html.ValidationSummary(true, "Cannot login")
            </div>
        </div>
    }
</div>